@tailwind base;
@tailwind components;
@tailwind utilities;

html[dir="rtl"] {
  direction: rtl;
}

body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}


.font-arabic {
font-family: 'Amiri', serif;
}

img {
  transition: transform 0.2s;
}
img:hover {
  transform: scale(1.1);
}


